@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
body {
  background-color: #f3f3f3;
  color: #141c14;
  font-family: "Roboto";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Google Sans";
  color: #045c0c;
}

nav {
  height: 3.5rem;
  padding: 0;
  top: 0;
  margin: 0;
}

nav .btn {
  background-color: #fff !important;
  color: #045c0c !important;
  margin: 0.5rem 1rem;
  font-weight: 600;
  border: none;
}

nav .btn:hover {
  background-color: #045c0b21 !important;
}

nav #avatar {
  max-height: 40px;
  max-width: 40px;
  margin: 0.5rem 1rem;
}

nav .brand-logo {
  margin: -0.5rem 1rem;
  font-family: "Righteous", cursive;
  color: #045c0c;
}

.section {
  height: 90vh;
}

.dropdown-content {
  border-radius: 5px;
}

.small-div {
  position: absolute;
  width: 100vw;
  height: 28vh;
  margin: 0 auto;
  top: 0;
  background-color: #045c0c;
  z-index: -1;
}

.s1 {
  position: absolute;
  height: 90%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #045c0c;
  z-index: -1;
}

#home h1 {
  margin-top: 20%;
}

#home .btn {
  height: 3rem;
  width: 12rem;
  line-height: 3.4;
}

#home .btn:hover {
  background-color: #045c0c !important;
  color: #f3f3f3 !important;
}

#dropdown1 a {
  color: #141c14 !important;
}

.banner-text {
  margin-top: 4em;
}

.btn {
  background-color: #045c0c !important;
  color: #fff !important;
  font-family: "Google Sans";
  text-transform: none;
  border-radius: 5px;
  border: 1px solid #045c0c;
}

.auth-btn {
  height: 3rem;
  width: 40%;
  line-height: 3;
  background-color: #fff !important;
  color: #141c14 !important;
  border: 1px solid #141c14;
}

.auth-btn:hover {
  background-color: #141c14 !important;
  color: #fff !important;
}

.auth-btn img {
  margin-top: 0.6rem;
}

.custom-btn {
  background-color: #045c0c !important;
  color: #fff !important;
  height: 4rem;
  width: 16rem;
  font-size: 1.5rem;
  line-height: 2.5;
  border-radius: 10px;
}

.custom-btn:hover {
  background-color: #fff !important;
  color: #045c0c !important;
}

.project-banner {
  margin-top: 2em;
  margin-bottom: 4em;
}

.tabs {
  margin-top: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5px;
  background: transparent;
}

.tabs {
  margin-bottom: 3em;
}

.tabs .tab a {
  color: #045c0b75 !important;
  background: transparent;
  text-transform: none;
}

/*Black color to the text*/
.tabs .tab a:hover {
  background-color: transparent;
  color: #045c0c !important;
}

/*Text color on hover*/
.tabs .tab a.active {
  background-color: transparent !important;
  color: #045c0c !important;
  font-weight: bold;
}

/*Background and text color when a tab is active*/
.tabs .indicator {
  background-color: #045c0c !important;
}

.rounded {
  border-radius: 10px;
}

.card-panel {
  background-color: #fff;
  color: #045c0c;
}

.card-panel:hover {
  background-color: #f3f3f3;
}

.project-card {
  color: #141c14 !important;
}

.project-card h5 {
  margin-top: 0;
}

.project-card i {
  cursor: pointer;
}

.project-card .project-link {
  color: #045c0c;
}

.project-card .project-link:hover {
  text-decoration: underline;
}

.condition li {
  color: red;
}

.add-icon {
  font-size: 2.5em;
}

.pagination > li > a {
  background-color: white;
  color: #045c0c;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #045c0c;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a {
  color: white;
  background-color: #045c0c !important;
  border: solid 1px #045c0c !important;
}

.pagination > .active > a:hover {
  background-color: #f3f3f3 !important;
  border: solid 1px #045c0c;
}

.blob {
  height: 270px;
  width: 270px;
  position: absolute;
  right: 1%;
  top: 2%;
  z-index: -1;
}

.domain-name-changed-btn {
  margin-top: 2rem;
}

.domain-name-changed-btn .domain-not-change {
  background-color: transparent !important;
  color: #fc2424 !important;
  margin-left: 0.5rem;
  border: none;
}

.domain-name-changed-btn .domain-not-change:hover {
  background-color: #fc242417 !important;
}

#profile .profile-img {
  width: 300px;
  height: auto;
  -webkit-box-shadow: -1px 3px 35px -16px #045c0c;
  box-shadow: -1px 3px 35px -16px #045c0c;
}

#profile .profile-info {
  padding: 2rem;
}

#profile .profile-info h4,
#profile .profile-info h5 {
  font-family: "Google Sans";
  color: #141c14;
}

.modal {
  border-radius: 10px;
}

.no-msg-img {
  width: 500px;
  height: auto;
}

code {
  background-color: #c5c5c4;
}

.page-footer {
  background-color: #141c14;
}

@media only screen and (max-width: 600px) {
  h1 {
    margin-top: 0;
  }
  .custom-btn {
    height: 3rem;
    width: 12rem;
    font-size: 1.125rem;
    line-height: 2.5;
    border-radius: 10px;
  }
  .small-div {
    position: absolute;
    width: 100vw;
    height: 32vh;
    margin: 0 auto;
    top: 0;
    background-color: #045c0c;
    z-index: -1;
  }
  .project-btn {
    padding: 0;
  }
  .auth-btn {
    height: 3rem;
    width: 100%;
  }
  .blob {
    display: none;
  }
  .banner-text {
    margin-top: 0;
  }
}
/*# sourceMappingURL=style.css.map */