$green: #3e6328;
$white-green: #f5f5f5;
$black: #141c14;

body {
  background-color: $white-green;
  color: $black;
  font-family: "Google Sans";
}
.nav-color {
  background-color: $green;
}
.brand-logo {
  margin-left: 1rem;
}
.section {
  height: 90vh;
}
#home {
  h1 {
    margin-top: 20%;
  }
  .btn {
    height: 3rem;
    width: 12rem;
    line-height: 3.4;

    &:hover {
      background-color: $green !important;
      color: $white-green !important;
    }
  }
}
#dropdown1 {
  a {
    color: $black !important;
  }
}
.btn {
  background-color: #fff !important;
  color: $green !important;
  text-transform: none;
  border-radius: 5px;
  font-weight: 600;
}
.modal-btn {
  margin-top: 1.8rem;
}
.modal {
  width: 40%;
  height: 20%;
}
.rounded {
  border-radius: 15px;
}
.card-panel {
  background-color: #fff;
  color: $green;

  &:hover {
    background-color: $green;
    color: #fff;
  }
}
.project-card {
  color: $black;

  &:hover {
    background-color: $white-green;
    color: $green;
  }
  h5 {
    margin-top: 0;
  }
}

.add-icon {
  font-size: 2.5em;
}

// .modal-auth {
//   max-width: 20% !important;
//   max-height: 50% !important;
//   border-radius: 15px;
// }
#avatar {
  max-height: 40px;
  max-width: 40px;
  margin-right: 1rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
  h1 {
    margin-top: 0;
  }
  .modal {
    width: 100%;
    height: 30%;
    border-radius: 5px;
  }
}
