@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
body {
  background-color: #f3f3f3;
  color: #141c14;
  font-family: "Roboto";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Google Sans";
  color: #045c0c;
}

nav {
  height: 3.5rem;
  padding: 0;
  top: 0;
  margin: 0;
}

nav .btn {
  margin: 0.5rem 1rem;
  font-weight: 600;
}

nav #avatar {
  max-height: 40px;
  max-width: 40px;
  margin: 0.5rem 1rem;
}

nav .brand-logo {
  margin: -0.5rem 1rem;
  font-family: "Righteous", cursive;
  color: #045c0c;
}

.section {
  height: 90vh;
}

.dropdown-content {
  border-radius: 5px;
}

.small-div {
  position: absolute;
  width: 100vw;
  height: 30vh;
  margin: 0 auto;
  top: 0;
  background-color: #045c0c;
  z-index: -1;
}

.s1 {
  position: absolute;
  height: 90%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #045c0c;
  z-index: -1;
}

#home h1 {
  margin-top: 20%;
}

#home .btn {
  height: 3rem;
  width: 12rem;
  line-height: 3.4;
}

#home .btn:hover {
  background-color: #045c0c !important;
  color: #f3f3f3 !important;
}

#dropdown1 a {
  color: #141c14 !important;
}

.btn {
  background-color: #fff !important;
  color: #045c0c !important;
  font-family: "Google Sans";
  text-transform: none;
  border-radius: 5px;
}

.auth-btn {
  height: 3rem;
  width: 40%;
  line-height: 3;
  color: #141c14 !important;
  border: 1px solid #141c14;
}

.auth-btn:hover {
  background-color: #141c14 !important;
  color: #fff !important;
}

.auth-btn img {
  margin-top: 0.6rem;
}

.custom-btn {
  height: 4rem;
  width: 16rem;
  font-size: 1.5rem;
  line-height: 2.5;
  border-radius: 10px;
}

.rounded {
  border-radius: 10px;
}

.card-panel {
  background-color: #fff;
  color: #045c0c;
}

.card-panel:hover {
  background-color: #f3f3f3;
}

.project-card {
  color: #141c14 !important;
}

.project-card h5 {
  margin-top: 0;
}

.project-card i {
  cursor: pointer;
}

.project-card .project-link {
  color: #045c0c;
}

.project-card .project-link:hover {
  text-decoration: underline;
}

.condition li {
  color: red;
}

.add-icon {
  font-size: 2.5em;
}

.pagination > li > a {
  background-color: white;
  color: #045c0c;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #045c0c;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a {
  color: white;
  background-color: #045c0c !important;
  border: solid 1px #045c0c !important;
}

.pagination > .active > a:hover {
  background-color: #f3f3f3 !important;
  border: solid 1px #045c0c;
}

@media only screen and (max-width: 600px) {
  h1 {
    margin-top: 0;
  }
  .custom-btn {
    height: 3rem;
    width: 12rem;
    font-size: 1.125rem;
    line-height: 2.5;
    border-radius: 10px;
  }
  .small-div {
    position: absolute;
    width: 100vw;
    height: 35vh;
    margin: 0 auto;
    top: 0;
    background-color: #045c0c;
    z-index: -1;
  }
  .project-btn {
    padding: 0;
  }
  .auth-btn {
    height: 3rem;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */